.slider {  position: relative;  width: 100%;  height: 100%;  overflow: hidden;}
.slider img {width:100%;}
.slider__wrapper {  height: 100%;  list-style: none;  overflow: hidden;  *zoom: 1;  -webkit-backface-visibility: hidden;  -webkit-transform-style: preserve-3d;}
.slider__item {  height: 100%;  float: left;  clear: none;}
.slider__arrows-item {width:50px;height:50px;	  position: absolute;  display: block;  margin-bottom: -20px;  padding: 20px;}
.slider__arrows-item--right {	background-image:url(../comuni/arrow-dx.png);  bottom: 50%;  right: 30px;}
.slider__arrows-item--left {	background-image:url(../comuni/arrow-sx.png);  bottom: 50%;  left: 30px;}
.slider__nav {  position: absolute;  bottom: 30px;}
.slider__nav-item {  width: 12px;  height: 12px;  float: left;  clear: none;  display: block;  margin: 0 5px;  background: #fff;}
.slider__nav-item--current {  background: #ccc;}
.slider__nav-item:hover {  background: #ccc;}
