.importantRule {color:#000!important;}
/*
*
* Lemonade v1.1
* Copyright 2013, Joey
* lemonade.im
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*
*/ 

 * {  -webkit-transform: all 0.3s ease-in-out;     -moz-transition: all 0.3s ease-in-out;  padding:0; margin:0; border:none;        } 
body { background: #fff; font-family: 'Droid Sans', sans-serif; }
.box {  text-align: center;  font: 1em ;  background:#FFF;  color:#000;  padding: 0px 0px 0px 0px;   cursor: pointer;}
/*  .box:hover {  color:#ffa3a3;} */

.txt03 a:link {text-decoration:none; color: #003865;}
 /* Removes padding behavior on widths */ 
*, *:after, *:before {  margin: 0;   padding: 0; -webkit-box-sizing: border-box;     -moz-box-sizing: border-box;         box-sizing: border-box;}
/* Targets all elements */
[class*='bit-'] {  float: left;   }
/* Floats last ".bit-" to the right */
[class*='bit-']:last-of-type { float: right;}
/* Clearfix */
.frame:after {  content: "";  display: block;  clear: both;  }
.frame {  width: 95%;  margin: 0px auto; max-width:1280px; background-color:#FFF;}
.menubar {  width: 95%;  margin: 0px auto; max-width:1280px; background-color:#003865; }

/* COLORI */
.grigio {background-color:#959594;}
.blu {background-color:#003865;}
.verde {color:#8c871f;}

/* ------------------------------------------------------------------ HOME --------------------------------------------- */

.spot { text-align: center; height: 150px; font: 1em; background: #959594; color: #000; background-image: url(../comuni/ombra_cutter.png); background-position: right top; background-repeat: no-repeat; padding:10px;  }
.spot-home{ text-align: center; height: 200px; background: #fff; color: #000; padding:10px;  }

.icon {width:50px; height: 50px;}
.nobg {background-image:none;}
.noborder {border:none!important;}
.payoffbox  {text-align: center; background-color: #FFF; color: #003865; height: auto;  display:inline-block;  }
.payoff  { text-align: center; font-size: 30px; margin-top: 60px;  display: inline-block; }
.payoff-sub { text-align: center; font-size: 16px;  display: inline-block; }
.separatore {clear:both; color: #fff;  margin:5px 0 5px 0;border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #8c871f; }

.spot2  { text-align: center; height: auto;  color: #000;  border-right-width: 1px; border-right-style: solid; border-right-color: #FFF; }
.spot2 img { width: 100%; max-width: 120px; padding-top: 20px; height: auto; }

.spot3  { text-align: center; height: auto; font: 1em; color: #000;  border-right-width: 1px; border-right-style: solid; border-right-color: #FFF; }
.spot3 img {width:100%; height:auto; }

.spot4 img {width:100%; height:auto; }

.spot5 { text-align: center; height: auto; background-color:#959594;  color: #000; }
.spot5 img {width:100%; height:auto; bottom:0px;}

.spot6 { text-align: center; height: auto; max-width:70%;margin:auto; background-color:#fff; color: #000; padding-top: 20px; }
.spot6 img {  border: 1px solid #D6D6D6; width:100%}

.spot7  { text-align: center; height: auto; background-color: #CCCCCC; color: #000; padding: 20px 30px 30px 40px; }

.noborder {border:none;}
.link-news {text-align:right; color:#003865; font-size:18px; font-weight:bold; padding:50px 50px 50px 0px;}
.linea { color: #fff;  margin:5px 0 5px 0; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #FFF; }
.puntatore {height:20px; background-image:url(../comuni/puntatore.jpg); background-position:center; margin-bottom:0px!important; clear:both;}
.txt01 {color:#003865; font-size:18px; font-weight:bold; padding-bottom:10px; z-index:9999;}
.txt02 {color:#003865; font-size:14px;}
.txt02bn {color:#fff; font-size:14px;}
.txt03 { color: #003865; font-size: 18px; font-weight: bold;  line-height: 30px; padding-top:30px; }
.txt04 { color: #fff; background-color: #003865; font-size: 18px; font-weight: bold;  line-height: 50px; }
.txt05 {color:#003865; font-size:25px; padding:10px 0 10px 0;}
.txt06 { color: #fff;  font-size: 18px;padding-bottom:10px;  }
.txt07 {color:#003865; font-size:20px; text-align:left; } 
.txt08 {color:#000; font-size:14px; text-align:justify; } 
.txt09 {color:#003865; font-size:12px; font-weight:bold; text-align:center; } 
.txt09-logo {color:#003865; font-size:16px; font-weight:bold; text-align:center; padding-bottom:10px; } 
.txt10 { color: #333; font-size: 12px; text-align: left; line-height: 18px; } 
.txt11 {text-align:justify; font-size:16px; padding:20px; color:#333333;}
.txt12 {text-align:justify; font-size:16px; padding:10px; color:#333333;}
.txt13 { text-align: justify; font-size: 16px; padding: 0px 40px 20px 40px; color: #333333; }
.txt13-titolo-dx { font-size: 20px; text-align: right; padding: 0 40px 10px 0px; color: #003865; }
.txt13-titolo-sx { font-size: 20px; text-align: left; padding: 0 0 10px 40px; color: #003865; }
.txt14-titolo { font-size:20px; text-align:left; padding:0 0 10px 10px; color:#003865; }
.txt14-list {color:#333333; padding:0px 10px 10px 20px;}
.txt14 { text-align: justify; color: #333333; padding: 0px 10px 80px 20px; }
.txt15-titolo { font-size:20px; text-align:left; padding:0 0 10px 10px; color:#003865; }
.txt15 {text-align:justify; color:#333333; padding:0px 0px 10px 10px;}
.txt16 {text-align:left; color:#333333; padding:50px 0px 10px 20px;}
.txt17-titolo { font-size:20px; text-align:center; padding:50px 0 10px 10px; color:#003865; }
.txt17 {text-align:justify; color:#333333; padding:0px 10px 50px 20px;}
.txt18 {text-align:justify; font-size:16px; padding:10px; color:#959594;  }
.txt18-titolo-dx { font-size:20px; text-align:right; padding:0 10px 10px 0; color:#003865;}
.centertxt {text-align:center;}
.full-width {width:100%;}
/*------------------------------------------------ FINE HOME ------------------------------------------------------------------*/

/* I NOSTRI CLIENTI */

.lista-clienti-sx ul {list-style-type:none; padding-left:50%;}
.lista-clienti-dx ul {list-style-type:none;}
/* ------------------------------ AZIENDA -------------------------------------- */


.spot8 img {width:100%;}
.spot9 img { padding:10px;width:100%;  }

/* ------------------------------FINE AZIENDA -------------------------------------- */

/*----------------------- PRODOTTI (WOOMARK) -------------------------------*/


#main {  margin:30px 0;  position: relative; overflow:hidden;}

/**
 * Grid container
 */
#tiles {  list-style-type: none;  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;  padding: 0;}

/**
 * Grid items
 */
#tiles li {  width: 300px;  background-color: #ffffff; 
-moz-box-sizing: border-box;
box-sizing: border-box;
  display: none; /** Hide items initially to avoid a flicker effect **/
  cursor: pointer;
  padding: 0px;
}

#tiles li.inactive {  visibility: hidden;  opacity: 0;}
#tiles li img {  display: block; width: 100%; height: auto;}

/**
 * Grid item text
 */
#tiles li p {  color: #666;  font-size: 13px;  line-height: 20px;  text-align: center;  font-weight: 200;  margin: 7px 0 2px 7px;}

/**
 * Progress bar for imagesLoaded
 */
.progress-bar {  background-color: #0BC20B;  height: 2px;  position: absolute;  top: 0;  left: 0;  right: 0;  width: 0;
  box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
  -webkit-transition: width 0.3s ease-out;
     -moz-transition: width 0.3s ease-out;
       -o-transition: width 0.3s ease-out;
          transition: width 0.3s ease-out;
}

/**
 * Grid items animation
 */
#tiles li {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.wookmark-placeholder {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

/**
 * Filters
 */
#box-filter {max-width:1280px; text-align:center; height:40px;	background-color:#003865;}
#filters {display: inline-block; height:40px;	background-color:#003865;  list-style-type: none;  text-align: center; margin:0 auto;}
#filters li {border-right: 1px solid #fff;	 color: #ffffff; line-height:40px;  font-size: 14px;  float: left;  padding: 0px 10px 0px 10px;
  cursor: pointer;}
.first-filter {border-left: 1px solid #fff;}  
#filters li:hover {  color: #ffffff;}
#filters li.active {  background: #0186ba;  color: #ffffff;}

.box-prodotto {height:auto;}
.box-prodotto img {width:100%;}
.box-prodotto p {padding:20px;}
/*------------------------------- FINE PRODOTTI -----------------------------



/* ------------------------------ POSSIBILITA di STAMPA -------------------------------------- */

.bit-40 img {width:100%; padding:10px; }
.spot9 img {width:100%; height:auto; bottom:0px;}


/* ------------------------------FINE POSSIBILITA di STAMPA -------------------------------------- */

/* ------------------------------ SERVIZI -------------------------------------- */

.spot10 img {width:100%; height:auto; padding:10px;}
.contattaci { position:relative; bottom:0px;width: 100%; height: 100px; background-color: #CCC; border-top-width: 1px; border-top-style: solid; border-top-color: #036; }
.contattaci p {text-align:left; padding:20px; color:#036;}
.contattaci .link {text-align:left; padding:0 0 0 20px; font-size:12px;}
.contattaci a:link { text-decoration: none; color: #036;;  }
.contattaci a:visited { text-decoration: none; color: #036;; }
.contattaci a:hover { text-decoration: none; color: #fff; }
/* ------------------------------FINE SERVIZI -------------------------------------- */


/* ------------------------- NEWS ------------------------------ */
.spot11 img {width:100%; height:auto; padding:10px;}
/* ------------------------- FINE NEWS ------------------------------ */


/* ----------------------- CONTATTI -----------------------*/
#map-canvas {  margin: 0;   padding: 0;  width: 100%;  height:485px; }
/* contattaci */
#slider {width:150px; float:right;}
#slider p{font-size:10px; margin-top:30px;}
#box-modulo { width:70%; height:auto; color:#333333; font-size:12px; margin:auto; padding:30px;}

#box-modulo .btn-invia {
	float:right;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:13px;
	
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn-invia {margin-right:20px;}
.btn-invia:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.btn-invia:active {
	position:relative;
	top:1px;
}

#box-modulo .txt-privacy {
	color:#959594;
	margin:10px;
	font-size:10px;
	clear:both;
    border: 1px solid white; 
    padding: 5px;
    background: rgba(255,255,255,0.5);
    width:100%;
	height:auto;
	
}

#box-modulo .input {
    border: 1px solid #FCC;
   	padding: 5px;
    margin: 0 0 10px 0px;
	width:100%;
}
.msgok {text-align:center; font-size:14px; color:#000;}
.error { background-color: #FCC; }





/*------------------------ FINE CONTATTI ----------------------*/
#footer {background-color: #CCCCCC; display:inline-block;}
#footer a:link { text-decoration: none; color: #FFF; }
#footer a:visited { text-decoration: none; color: #FFF; }
#footer a:hover { text-decoration: none; color: #CCC; }

/* Main Widths */
.bit-1  {width: 100%;}
.bit-2  {width: 50%;}
.bit-3  {width: 33.33%; background-color:#FFF;}
.bit-4  {width: 25%;}
.bit-5  {width: 20%;}
.bit-6  {width: 16.6666666667%;}
.bit-7  {width: 14.2857142857%;}
.bit-8  {width: 12.5%;}
.bit-9  {width: 11.1111111111%;}
.bit-10 {width: 10%;}
.bit-11 {width: 9.09090909091%;}
.bit-12 {width: 8.33%;}
.bit-25{width:25%;}
.bit-40{width:40%}
.bit-60{width:60%}
.bit-75{width:75%}

.spot9 img { padding:10px;width:50%; }
#topbar { height: 100px; background-color: #fff;  }

.logo { width:250px; margin:auto;   }
.logo img{ width:80%; height:100%;   }
.lingue { float:right;  padding-right:30px; display: table;  height:100px; width:150px; text-align:right; font-size:14px  }
.quickcontact {float:left; padding-left:30px; display: table;  height:100px; width:150px; text-align:left; font-size:14px }
.vcenter { display:table-cell; vertical-align:middle;  }


/* Landscape mobile & down
===============================*/
@media (max-width: 480px) {
  .bit-1,
  .bit-2,
  .bit-3,
  .bit-4,
  .bit-6,
  .bit-7,
  .bit-8,
  .bit-9,
  .bit-10,
  .bit-11,
  .bit-12 {
    width: 100%;
  }
.bit-5 {width:50%;}

  .frame .bit-4:nth-child(2) {    float: right;  }
  .frame .bit-4:nth-child(3) {    clear: both;    float: left;  }
  .frame .bit-4:nth-child(4) {    float: right;  }
  
  .quickcontact {display:none;}
  .lingue { float:right;  padding-right:10px; display: table;  height:100px; width:100px; text-align:right; font-size:12px  }
  .logo {float:left; width:180px; margin:auto;   }
  .logo img{ width:80%; height:100%;   }
  .lista-clienti-sx ul {list-style-type:none; padding-left:0;}

  
  #xxx {display:none;}
  .payoff  { font-size: 20px;}
  .txt11 { font-size:14px;}
  .txt12 { font-size:14px;}
  .txt13 { font-size: 14px; padding: 0px 10px 20px 10px; color: #333333; }
  .txt13-titolo-dx { font-size: 18px; text-align: right; padding: 0 10px 10px 0px; color: #003865; }
  .txt13-titolo-sx { font-size: 18px; text-align: left; padding: 0 0 10px 10px; color: #003865; }
  .bit-40 {width:100%;}
  .bit-60 {width:100%;}
  #box-modulo { width:100%;}
  .spot9 img { padding:10px;width:100%; }
}



/* Mobile to Tablet Portrait
===============================*/
@media (min-width: 480px) and (max-width: 800px) {
  .bit-2,
  .bit-4,
  .bit-6,
  .bit-8,
  .bit-10,
  .bit-12 {
    width: 50%;
  }

  .bit-1,
  .bit-7,
  .bit-9,
  .bit-11 {
    width: 100%;
  }
  .bit-5 {width:50%;}
  
  
  .quickcontact {display:none;}
  .lingue { float:right;  padding-right:10px; display: table;  height:100px; width:100px; text-align:right; font-size:12px  }
  .payoff { background-color:#FFF; color:#003865; text-align:center; font-size:20px; }
  .spot9 img { padding:10px;width:100%; }
}

/* Landscape Tablet to Desktop
===============================*/
@media (min-width: 800px) and (max-width: 1100px) {
  
  .bit-7 {
    width: 100%;
  }

  .bit-2,
  .bit-4,
  .bit-8,
  .bit-10,
  .bit-12 {
    width: 50%;
  }
  .spot9 img { padding:10px;width:70%; }
}
