<%@ tag import="java.net.*"%><%@ 
attribute name="faq" required="true" type="it.realt.webapps.faq.dbbeans.Faq"%><% 
//Questo tag crea il link per scaricare una faq
%><%=request.getContextPath()%>/servlet/FaqDownload/${faq.idFaq}/${faq.titoloFile}<%
//=URLEncoder.encode(faq.getTitoloFile(),"UTF-8")%>
