<%@ tag import="java.net.*"%>
<%@ 
attribute name="bean" required="true" type="it.realtx.webapps.gestdatacenter.beans.ImagedBean"%><% 
//Questo tag crea il link per scaricare una immagine
%><%=request.getContextPath()%>/servlet/ImagedBeanServlet?IdFile=${bean.idImg}&NomeFile=${bean.nomeImg}<%
//=URLEncoder.encode(faq.getTitoloFile(),"UTF-8")%>