<%@ tag import="java.net.*"%><%@ 
attribute name="notizia" required="true" type="it.realt.webapps.news.dbbeans.Notizia"%><% 
//Questo tag crea il link per scaricare una faq
boolean fileMissing= (notizia.getIdFile()==null) || (notizia.getIdFile().length()==0);
if (fileMissing) {%>
#<%}
else {
%><%=request.getContextPath()%>/servlet/NewsDownload/${notizia.idNotizia}/${notizia.nomeFile}<%
}
//=URLEncoder.encode(faq.getTitoloFile(),"UTF-8")%>