<%@ 
tag import="it.realt.webapps.i18n.*"%><%@ 
attribute name="id"%><%@
attribute name="key" required="true"%><%
if (id==null) id="text";
LanguageBundle languageBundle = (LanguageBundle)getJspContext().getAttribute(id,PageContext.REQUEST_SCOPE);
//java.util.Enumeration en = languageBundle.getKeys();
//while (en.hasMoreElements()) out.write(en.nextElement().toString()+", ");
String text = (languageBundle!=null?languageBundle.getString(key):"Bundle non definito!");
%><%=text%>