/**
 * Divas Cookies jquery plugin for Cookie Policy banner stylesheet
 * @author: CodingDivas
 * @date: 2014/10/27
 * @version: 0.2 production
 */

.divascookies { font-family: Verdana, Geneva, sans-serif; font-size: 12px; position: fixed; bottom: 0; width: 100%; background: #f9fafc; color: #636363; display: none; z-index: 999999; border-top-width: 1px; border-top-style: solid; border-top-color: #D6D6D6; }
.divascookies > .divascookies-banner-container {	position: relative;	padding: 10px;	overflow: hidden;	text-align: center;}
.divascookies p.divascookies-banner-text { 	position: relative;	line-height: 12px;		display: inline-block;	padding: 0 10px 0 0;}
span.divascookies-policy-link {} 
span.divascookies-policy-link a {	white-space: nowrap;	}
span.divascookies-policy-link a:hover {	text-decoration: underline;    transition: color 0.3s ease 0s;}
.divascookies-banner-container > .divascookies-accept-button-container {	display: inline-block;	margin-top: 5px;}
.divascookies-accept-button-container > .divascookies-accept-button-img {}
.divascookies-accept-button-container > .divascookies-accept-button-text {	cursor: pointer;	background: #636363;	color: #fff;	padding: 5px 10px;    transition: background-color 0.3s ease 0s;}
.divascookies-accept-button-container > .divascookies-accept-button-text:hover {	background: #565656;}




