input, select, textarea
{
	font-size: 11px;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

textarea {
	
	height:300px;
	width:400px;
	
}

textarea#noteTextarea {
	
	height:50px;
	width:500px;
	
}
.user 
{
	padding-right: 5px;
	padding-left: 5px;
	position: absolute;
	font-size: 11px;
	line-height: 11px;
	height: 11px;
	text-decoration: none;
	text-align: center;
	background-color: white;
	color: #000000;
	border-top: 3px solid #A4730C;
	border-left: 3px solid #A4730C;
	top: 61px;
	right: 0px;
}

.top 
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 80px;
}

.undertop 
{
	position: absolute;
	top: 77px;
	left: 0px;
	width: 100%;
}

.sfondoindex {
	background-image: url(../img/menu/banner-side.jpg);
	background-position: top;
	background-repeat: repeat-x;
	text-align: center;
}

.menuBarLink 
{
	font-size: 11px;
	line-height: 40px;
	height: 40px;
	width: 100px;
	text-decoration: none;
	text-align: center;
	background: url(../img/menu/freccia-grigia.jpg) top center no-repeat;
	color: #999999;
	cursor: pointer;
}

.menuBarLink:hover
{
	font-size: 11px;
	line-height: 40px;
	height: 40px;
	width: 100px;
	text-decoration: none;
	text-align: center;
	color: #012e55;
	cursor: pointer;
	background: url(../img/menu/freccia-rossa.jpg) top center no-repeat;
}

.menu2LevH 
{
	font-size: 11px;
	position: absolute;
	display: none;
	text-align: left;
}	

.menu2LevS 
{
	width: 140px;
	font-size: 11px;
	line-height: 20px;
	position: absolute;
	display: block;
	text-align: left;
	border: 2px solid #012e55;
	background-color: white;
}

.item2Lev
{
	font-size: 11px;
	line-height: 20px;
	height: 20px;
	color: #999999;
}

.highLight
{
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-size: 11px;
	line-height: 20px;
	height: 20px;
	width: 100%;
	font-weight: normal;
	text-align: left;
	color: #012e55;
	text-decoration: none;
	text-align: left;
}

.spaziatore
{
	top: 0px;
	left: 0px;
	width: 100%;
	height: 120px;
	text-align: center;
}

.hid
{
	display: none;
}

.show
{
}