.listaHtml {
	width: 900px;
	height: 100%;
	overflow: auto
}

.listaRicerca {
	border: 2px solid #012e55;
	background-color: #FFFFFF;
	width: 600px;
}

.lista {
	border: 2px solid #012e55;
	background-color: #FFFFFF;

}

.primo {
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	line-height: 18px;
	color: #CCCCCC;
	text-align: center;
	text-transform: capitalize;
	vertical-align: middle;
	background-color: #666666;
	text-decoration: none;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 6px;
	padding-left: 6px;
}

.primo1 {
	text-align: left;
	color: #444444;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-size: 11px;
	padding: 0px;
	background-color: #E0E0E0;
	font-weight: bold;
}

.primo2 {
	text-align: left;
	color: #444444;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-size: 11px;
	padding: 0px;
	margin: 5px;
	vertical-align: middle;
	background-color: #F0F0F0;
	font-weight: bold;
}

a.primo {
	border: none;
	text-decoration: none;
}

.date {
    background-image: url("../img/calendar.png");
    background-position: 99% 50%;
    background-repeat: no-repeat;
    width: 100px;
}