body {
	font-size: 11px;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	margin: 0px;
 	background-color: white;
	color: Black;
}

table {
	font-size: 11px;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

td {
	font-size: 11px;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	color: Black;
}

th {
	font-size: 11px;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	color: Black;
}

.titolo {
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
	color: #012e55;
}

.sicurezza
{
	border-bottom: 2px solid #CA0000; 
	border-right: 2px solid #CA0000;
}